{% extends 'base.html' %}
{% load static %}
{% block body %}

<!-- Hero Section-->
    <section style="background: url({% static 'blog/images/art.jpg' %}); background-size: cover; background-position: center center; min-height: 400px;" class="hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
                 <h1> ABOUT US </h1>

          </div>
        </div>
      </div>
    </section>
<br>
<br>
    <div class="t1">
    <p class="para">OUR MISSION <span> "To Inspire People To Do More and Live Their Life To The Fullest, So They Can Create Unforgettable Memories"</span></p><br/>
    </div>

    <p class="p1">
    Hey there! We’re Gayathri, Veronica, Asif and Mohammed, the four travellers behind this.
    Let me fill you in on a secret.<br/>Traveling has changed our lives and we want it to do the same for you.
    Have you ever wondered:<br/><br/>
    “What’s the best way to start planning a trip?”<br/><br/>
    “How do I find the best things to do while on the road?”<br/><br/>
    “How can some people afford to travel for so long?”<br/><br/>
        “How do people make money from travel blogging?”<br/><br/></p>

    <p class="t2">
    If you answered yes to any of these questions, you are not alone and WANDERLUST was made for you as we once asked those same questions ourselves.
    </p>
    </p>
    <br/>
     <p class="para">WHAT THIS BLOG CAN DO FOR YOU?</p><br/>
        <p class="p1">
        To date, Wanderlust has grown into a large adventure travel blog full of useful travel information based on personal
        recommendations, combined with inspirational articles on our travel blogging journey around the world.
        Every month, hundreds and thousands of people come to our site to read our story, follow our misadventures,
        seek our travel advice and get information on how we’ve managed to turn our blog into a business.
        </p> <br/>
    <p class="para">WHY TO FOLLOW US?</p>
    <br/>
        <p class="p1">
        After a few life-changing experiences, we’ve decided to make it our mission to complete the top 50 adventure holidays in the world.
        Why? Well, as Stephen Hunt put it, “If you’re not living on the edge, you’re taking too much space.
        Also, We update with time every detail about the experiences and tips for a traveller, and be active on social media for regular updates as well.
        </p>
<br>
<br>
<br>
{% endblock %}

