<!-- 
{% extends 'base.html' %}
{% load static %}

 {% block body %}  
     
<div id="signup-box">
<div class="left-box">
  <p class="signupstyle1">Sign Up</p>
  <form>
<input type="text" name="username" placeholder="Username"/>
<input type="text" name="Email" placeholder="Email"/>
<input type="password" name="password" placeholder="Password"/>
<input type="password" name="password2" placeholder="Repeat Password"/>
<input type="submit" name="signup-button" value="Sign Up"/>
</form>
</div>
<div class="right-box">
    <p class="signupstyle2">If you are already a member, please sign in here</p>
    <button><a href="{% url 'login' %}">Sign In</a></button>
</div>
</div>
<br/><br/>
{% endblock %}  
 -->
