{% extends 'base.html' %}
{% load static %}
{% block body %}

<!-- Hero Section-->
    <section style="background: url({% static 'blog/images/tip2.jpg' %}); background-size: cover; background-position: center center; min-height: 400px;" class="hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
                 <h1> TRAVEL TIPS </h1>

          </div>
        </div>
      </div>
    </section>
<br>
<br>

<p class="para">TRAVEL TIPS FOR INDIA </p>
<br/>
<p class="p1">
 <span> Tip One: Do not let the media feed your fear In a digital era</span>
 <br/><br/>
 it’s very hard to filter information. Media publishes content that provokes interest and some emotional reaction.
The negative or controversial reaction makes content even more popular and discussed.This fact has made India famous for poverty, poor attitude towards women and rape cases.6 de 1.927

Some travellers came for a couple of weeks while others stayed for a few years and they were still not sure how long they are going to be there.

You hit the right note with India and start enjoying the country once you know important basics and your expectations are set correctly.

Whether you travel to India for a short or long period of time, I put up a list of 10 things that I would share with anyone who asks me about India.<br/>

<br/><span>
 Tip Two: Be flexible about plans and expectations</span>
 <br/><br/>
Try to accept the cultural specifics in India without comparing with the reality or background you come from. There will be certain things that will happen and certain things that will not.

You will discover that “Yes” doesn’t always mean Yes, and you will rarely hear a “No” from an Indian.

To save you from frustrations about delays, cancellations and other random situations that will pop up, always try to have a “plan B”.

Whatever changes will happen in your initial plan, they will build a new experience, which will open a different part of India for you.<br/>

<br/><span>
 Tip Three: Plan in advance</span>
 <br/><br/>
 If you are not coming with a tour company with a predefined plan, try to make most of the arrangements for your trip at least 3 weeks before arrival.

In India, intercity transport tickets disappear faster than falling stars.<br/>

<br/> <span>
 Tip Four: Learn bargaining</span>
 <br/><br/>
Everyone does it and you should not be an exception. Pricing is generally higher for foreigners since there is a misconception among sellers in India that tourists are rich.
I would advise asking an opinion from local people how much something should cost.

If you are in the local markets evaluate the look of the seller. Don't bargain with artists or farmers. They already earn money hard way and they are very humble.

Merchants with chic phones in their hands are the right target to master negotiation skills.

You can use saved money from a purchase either for another Indian experience or for buying food for the poor. There are many people living on the streets in India. Y

ou might save minimum 4 dollars from one purchase, but this is enough to buy lunch for 3-4 homeless people in the city. In addition to the social cause, you will also improve your negotiating skills. India is a great teacher in this!<br/>

<br/><span>Tip Five: Travel India with your own transportbackpacking</span>
 <br/><br/>
The best way to see the real India is to travel with your own transport. I’ve motorbiked extensively across India and, more recently, drove a rickshaw 2500km across the country. Even if you just hire a scooter for a day, travelling with your own transport in India is the best way to peel back the layers and get to grips with this amazing country.<br/>

<br/>
 <span>
 Tip Six: Meal costs:</span>
 <br/><br/>
 $1 – $3 (less if you eat street food) Twelve hour train journey in 3AC sleeper class: $16.50  Entrance to a site cost: $3.50 for foreigners These prices are based on the current exchange rate of 68 rupees to the dollar.<br/>
<br/><br/>
</p>
<p class="para">TRAVEL TIPS FOR NEW YORK</p><br/>
<div class="p1">
<br/><span>Tip One: Never pay full price if you can help it</span><br/><br/> New York is one perpetual sale. Anything that doesn't sell quickly is ruthlessly discounted, so new stock is often on sale a few weeks after it arrives. Apart from the discount stores and consignment stores, the chain stores have rolling sales. Sample sales occur regularly. If you're visiting out of the actual delegated sale periods, even the higher-end boutiques may have a discreet sale rack at the back of the store. <br/>
<br/><span>Tip Two: Don't forget to tip</span><br/><br/>just about everyone who gives you service, including the person who washes your hair at the hair salon, luggage handlers, taxi drivers and waiters. Factor tips into your daily budget and it won't seem so unpalatable. It's no use railing against the US system, which pays such a poor minimum wage that servers depend on tips. It's these people you are thanking, not the system.<br/>
<br/><span>Tip Three: One caveat</span><br/><br/>New Yorkers will withhold tips for poor service, such as a dangerous or surly taxi driver. You can too. But be prepared to say why. And do tip extra for great service, just as the taxi driver who recently helped me drag my luggage two blocks because my hotel's street was blocked by a Sikh festival. The fact he was so happy to have the extra dollars, just shows how poorly these people are paid.<br/>
<br/><span>Tip Four: Don't be afraid to complain</span><br/><br/> New Yorkers do it all the time if they don't like service or food. I ordered the wrong thing at a restaurant recently – my fault – and they replaced it with another meal without charge.<br/>
<br/><span>Tip Five: Don't be too polite</span><br/><br/> Years ago I made the mistake of starting my order at a deli with "May I please have". Before I got to "have" the guy behind the counter cut me off and snarled impatiently, "Whadda you want, lady?" Be direct and don't dither. These people are busy. But "thank you" is OK.<br/>
<br/><span>Tip Six: Don't dawdle, especially in the subway</span><br/><br/> Stand to the side if you can't work out where you're going. If you block an entrance, you're likely to be pushed over. It can be mean down there.<br/>
<br/><span>Tip Seven: Don't take the nearest subway without checking the map</span><br/><br/>Sometimes the subway on hand lies above a labyrinthine network of underground passages you have to navigate before you get to the train you actually want. Look at the map and see if a short above ground walk will get you to a subway line that's a more direct route to where you are going. It is a bit of an art, especially on weekends, when services can change in a way that's not obvious on the map.<br/>
<br/><span>Tip Eight: Don't stare or point at celebrities and only ask for their autograph</span><br/><br/>if you're prepared to be embarrassed. Many well-known identities make their home in New York and New Yorkers give them a respectful distance. Locals will give you disapproving looks if you break that pact. Just the other day, I ran into Robert De Niro as I was entering and he was leaving the Greenwich Hotel, which he owns. I smiled at him and he smiled back and that was a nice enough encounter.<br/>
<br/><span>Tip Nine: Don't eat in the theatre district</span><br/><br/> Just don't. The food is mostly horrible. The whole Broadway area is mostly horrible. Eat a banana and then have a drink at Sardi's upstairs bar. Or splurge a little on a meal at Charlie Palmer restaurant in the new Knickerbocker hotel at Times Square, which has a fantastic value three-course, $45 fixed price pre-theatre menu. I just discovered it last trip.<br/>
<br/><span>Tip Ten: Don't stick to Manhattan</span><br/><br/> Much of the action is happening in the outer reaches of Brooklyn these days, as young people and creatives move out of the city in search of cheaper rents. Brooklyn Heights, Prospect Park and Williamsburg are status quo – check out Gowanus and Bushwick for a really cutting-edge experience.<br/>
<br/><span>Tip Eleven: Finally – don't be too cautious</span><br/><br/>In the old days, you could turn a corner on Manhattan and find yourself suddenly in a dangerous situation. The island is now pretty safe in every pocket, including most of Harlem. Walk with confidence like a local in any situation and you'll be fine.<br/>
<br/><br/>
</div>
<p class="para">TRAVEL TIPS FOR COLUMBIA</p>
<p class="p1">
<br/><span>Tip One: Colombia is generally safe to visit</span><br/><br/>
There was a time when travelers avoided the country due to its ugly association with cartels and violence. That has largely disappeared and what remains is a vibrant country with spectacular scenery, friendly people and a rich culture. In fact, some areas in Bogota, like the sophisticated and electric Zona-T, feels like any other cosmopolitan city from the developed world. The public transportation of Medellin, a city that has emerged from the shadows of drug cartels, the Medellin Metro is a thing of beauty and is one of the most successful in the world.
Violence should not be a reason you are avoiding that trip to Colombia. But, having said that, it is wise to be aware of your surroundings. Practical safety considerations, same as any other unfamiliar city, are essential. Stick to largely crowded place - on your first trip, consider popular tourist destinations or the cities of Colombia. Colombia is still struggling to with economic disparities so it is better to refrain from ostentatious displays of wealth and branded accessories.
It's also recommended to get travel insurance before you go - look into World Nomads for some good deals.<br/>
<br/><span>Tip Two: Understand the Colombian Peso</span><br/><br/>
The local currency is the Colombian Peso (COP$) and the denominations are in mil, Spanish for thousand. Menus at restaurants and cafes might list a cappuccino for $5.000 - this means the cost is 5mil. In common parlance, the mil is often dropped. Frequently used notes come in denominations of 1000, 2000, 5000, 10000, 20000 and 50000 pesos.<br/>

<br/><span>Tip Three: You get the best exchange rate by using cards or at ATMs</span><br/><br/>
Even better if you have an international card with no transaction fee. A Citibank card works best - they give great exchange rate at ATMs, which are commonly available in major cities and if you have a card, you don't have to bear the additional fee. But even with the fee, in case you don't have a Citibank card, you still get a better deal using a card for payment or withdrawing from an ATM.<br/>

<br/><span>Tip Four: Check visa requirements</span><br/><br/>
Check again,you just might not need a tourist visa to enter Colombia. For example, while passport holders of countries like USA, European Union and Canada, among others, don't require visa to enter; holders of United States Visa or Schengen Visa (except transit visa), from China, India, Thailand and Vietnam are also granted visa-free access. It is best to visit Migración Colombia or call their customer support number and check the current status for your country. They are also prompt to reply to emails.<br/>

<br/><span>Tip Five: Check the weather app before planning your visit</span><br/><br/>
 And I cannot stress on this enough. Every city has a completely different climate, mainly because of the different altitudes they are located at. While Bogota enjoys a chilly, autumn-in-NYC like weather all year round, Medellin is slightly warmer and Cartagena is a sunny, tropical coastal town. Dress and pack accordingly: for Cartagena, pack a hat, sun-glasses, (loads of) sunscreen and flowing dresses while Bogota calls for jeans and scarfs and sophisticated western wear.<br/>

<br/><span>Tip Six: Getting around in Colombia</span><br/><br/>
Flights might be the best option for inter-city travel, especially when you have to cover so much in little time - and it is not expensive. Go to the local sites of LAN, Avianca or Copa for better deals.
Public transport, like anywhere else in the world, is the cheapest means to get around within a city. Medellin has a fantastic metro system and I recommend riding it at least once. Bogota's version of public transport, after many failed attempts at a metro, is the Transmilenio - a bus rapid transit. Quite efficient, this can be a little hard to figure out, but not impossible. Ask if you don't understand - the people are very helpful.<br/>
If you must take a cab, refrain from hailing it off the road. Download Easy Taxi  or Tappsi - these apps are popular and a safer way to hail a cab.<br/>

<br/><span>Tip Seven: Consider investing in a travel guide</span><br/><br/>
Yes, even if you have done all your research. And this is mainly to keep track of all the trivia and history tidbits these guides offer, and not to follow a certain trail. I was blown away by how rich in history Colombia is and found that my travel guide was a good story teller.<br/>
<br/><span>Tip Eight: It is not imperative to be fluent in Spanish to visit</span><br/><br/>
 I hardly know any Spanish and I had a blast! Not a lot of people speak English (especially in Medellin) but a fair amount of them do. People in Colombia are very helpful and most of them are patient enough to see you awkwardly act out words. Carry a piece of paper and pen if you must (this was handy for me when I had to ask around for Transmilenio route numbers in Bogota - the Transmilienio staff spoke no English).<br/>

<br/><span>Tip Nine: Go with an appetite</span><br/><br/>
There are plenty of international food options available in Colombia but please do try the local cuisine. Try the Ajiaco (a Bogota staple soup made with chicken, three varieties of potatoes, and Colombian herbs), Cazuela de Fríjoles (red bean stew), Arepa (a flatbread made of ground maize dough or cooked flour), Empanada ( a popular street food made by folding dough or bread with meat or cheese stuffing) and if you dare, Mondongo (soup made from diced tripe slow-cooked with vegetables).
For some guideance on what to eat, join a food tour, private gastronomic tour or beer tour.<br/>

<br/><span>Tip Ten: Haggling is accepted</span><br/><br/>
This is true for certain means of transportation like taxis off-the-road and (especially) street vendors. I bought a necklace from a street vendor for $10COP. He quoted $50COP to start with. Ha! Look out for them on the streets of Bogota and Parque Lleras in Medellin. And remember to definitely haggle when buying sombreros in Cartagena!
This should be good preliminary preparation. Colombia is a wonderful country and I highly recommend you plan your next vacation there. Oh, and don't forget to carry your camera!<br/>
</p>
<br/><br/>
<p class="para">TRAVEL TIPS FOR EGYPT</p>
<div class="p1">
<br/><span>Tip One: Travel Insurance</span><br/><br/>
If you are set for your first trip to Egypt, you’d want to make sure you have made a firm investment regarding your health by procuring an affordable and a flexible travel insurance policy. This policy will cover you up in case of a stolen bag, missed/delayed flights, medical facilities in case you suffer an injury. It is always better to be safe then bewail.<br/>

<br/><span>Tip Two: Hire a Tour Guide</span><br/><br/>
It is very important that you hire a tour guide as traveling to Egypt may seem like a cherry but the reality is a complete different story. Once there, you’ll have to manage your accommodations, transportation, your sightseeing and every other little detail. Even if you have planned it well, there would be a loose end. Thus, to be sure you have a great trip, it would be better to hire a tour guide to help you through.<br/>

<br/><span>Tip three: Be an expert in haggling</span><br/><br/>
It doesn’t matter if you’re in Egypt you won’t have to negotiate. What to expect in Egypt while shopping here – lot of premium added by the shopkeepers if they sense you are not a local. The skills of haggling and negotiating are one of the most primary and major assets you must possess. Everything is worth negotiating in the country so you don’t have to worry about anything. Negotiating is common in Egypt, making bargain a necessary skill.<br/>

<br/><span>Tip Four: Bring your own Toilet Paper</span><br/><br/>
 Most of the restrooms in Egypt do not have toilet papers, it’s really hard to find. The toilets hold a built-in bidet spray nozzle for those who do not have any toilet paper with them. But it is safe to carry your own toilet supplies before using the restrooms in some other country. Take at least enough of them to carry on through the day. This is one handy Egypt packing tips that you will surely find useful.<br/>

 <br/><span>Tip Five: Use UBER in Cairo</span><br/><br/>
Cairo supports the system of Uber in the city. If you operate through a new Uber account, you can get your first free ride up to 70EGP in Egypt. Though taxis are available at every spot, it is still better to use an Uber ride whole moving around the city freely and comfy.<br/>

<br/><span>Tip Six: Watch out for Scammers</span><br/><br/>
If you have a tour guide, you are good. However it would be wise if you are wary of who to trust in a foreign land. Regardless of what country it is, deceptions happen everywhere. All you need to do is to figure out who is faking it and who is genuine. One way to be safe is to communicate with the locals.
For instance, if someone approaches you and asks you to come visit his shop and asks for “baksheesh” (tip), simply avoid them by telling them, “La, shukran” (thank you) and walk away. They won’t run after you but it’s better to avoid them.<br/>
<br/><br/>
</div>
<p class="para">TRAVEL TIPS FOR PARIS</p>
<div class="p1">
<br/><span>Tip One: Plan in advance</span><br/><br/>
he biggest mistake Paris beginners make is failing to plan. Thorough planning is crucial in order to avoid frustration and disappointment during your trip. By researching and reading, you’ll have an idea of how to navigate the city and how to schedule your time. Don’t waste time figuring this stuff out on your trip. Read as much as you can in advance and keep a notebook with notes, ideas, and useful information that you can easily reference on the go.<br/>

<br/><span>Tip Two: Consider your arrival</span><br/><br/>
 It might be worth the money to skip the metro and hire a shuttle or driver into the city.  The Paris Metro can be confusing and especially frustrating if you’re trying to navigate with luggage.  If you’re arriving jetlagged or traveling with several people, look into other methods of transportation.  There’s nothing worse than starting your trip frustrated and you can always save money by using public transportation to get back to the airport for your flight home.<br/>

 <br/><span>Tip Three: Buy the Paris Museum Pass</span><br/><br/>
It will save you so much time and a little bit of money. It eliminates waiting in line after line at the major museums and you won’t feel bad if you stop into a museum for just a few minutes and leave. Order your pass in advance and have it shipped to you at home so you don’t waste time picking it up on your trip.<br/>

<br/><span>Tip Four: Walk</span><br/><br/>
 I like to walk as much as possible when I’m in Paris. There is something so magical about the city that I hate to spend any time underground. It’s also the best way to keep my pants from getting tight after eating croissants all day.  And honestly, forget about fashion.  You need to wear comfortable shoes or you’ll be miserable.  When you walk in Paris you never know what you’ll see… such as the time I ran into P. Diddy outside Le Meurice.<br/>

 <br/><span>Tip Five: Use UBER</span><br/><br/>
On my last trip, it was faster and cheaper than Parisian taxis. Sometimes walking just isn’t an option.<br/>

<br/><span>Tip Six: Make restaurant reservations in advance</span><br/><br/>
Many restaurants take reservations by email but I recommend asking your hotel to help you in advance. Having reservations eliminates the stress of finding somewhere for dinner at the end of a long day. Also, a reservation will keep you moving when you might be tempted to go back to the hotel and crash.
For instance, if someone approaMake restaurant reservations in advanceches you and asks you to come visit his shop and asks for “baksheesh” (tip), simply avoid them by telling them, “La, shukran” (thank you) and walk away. They won’t run after you but it’s better to avoid them.<br/>

<br/><span>Tip Seven: Plan 1 or 2 free days in your itenerary</span><br/><br/>
These are helpful in case a museum is unexpedly closed or too crowded or you miss something due to weather. One of my favorite things to do in Paris is to just stroll aimlessly. There is so much to look at and each neighborhood has a different feel. Spend a day just wandering around the city, stopping at plenty of cafes along the way.<br/>

<br/><span>Tip Eight: Make advanced reservations for the Eiffel Tower</span><br/><br/>
On my first trip to Paris, I was able to secure a reservation to go to the top of the Eiffel Tower and avoided waiting hours in line. Try to book online tickets as soon as you know the dates of your trip. If they are sold out, try again in the weeks and days leading up to your visit as they release more tickets periodically.<br/>

<br/><span>Tip Nine: Relax</span><br/><br/>
Relax. You won’t see everything you wanted, there’s just too much. It’s okay. Just accept it and think of it as a reason to look forward to your next visit. Take your time and enjoy the magic of Paris.<br/>

<br/><span>Tip Ten: Forget the French stereotypes</span><br/><br/>
If you go in thinking that the French are rude, you’re setting yourself up for failure. There are rude people everywhere and there are nice people everywhere. Have an open mind and you will be pleasantly surprised.<br/>

<br/><span>Tip Eleven: Know your hotel’s name and address</span><br/><br/>
Take a few of your hotel’s cards from the front desk or write down the name and address. It seems obvious but there are multiple Marriott’s (or whatever) in Paris and things can get confusing with the language barrier. It’s easier to hand your taxi driver a card than to struggle with pronounciation.<br/>
<br/><br/>
</div>
<p class="para">TRAVEL TIPS FOR GERMANY</p>
<p class="p1">
<br/><span>Tip One: Respect the rules</span><br/><br/>
Germans like to play by the rules, and when you’re on their turf, so should you. For starters, always wait for the traffic light to go green before crossing the road. People will disapprove and shake their heads at jaywalking, so practice a little discipline and respect the code of conduct. Secondly, if you’re planning to ride a bicycle (and you should) you always need to have a back and front light for safety reasons. Being caught in the dark or running red lights both result in hefty fines.<br/>
<br/><span>Tip Two: Pay for AND validate your train tickets</span><br/><br/>
Most newbies in Berlin are especially surprised, even giddy at the fact that there is no security gate or person checking tickets as you enter the train stations. Be warned, this is not a free pass to ride the underground, as ticket checkers (wearing plain clothes) are also riding the subway and could pounce at any moment, costing you at least a €60 fine and a lot of embarrassment. Furthermore, there are endless stories of people who have diligently bought their train tickets, but alas, forgotten to validate them. Don’t forget to validate your ticket before jumping on the train! The ticket checkers pay no sympathy to that, and you will still be fined.<br/>
<br/><span>Tip Three: Know your transport zone</span><br/><br/>
You need an appropriately zoned ticket depending on where you are travelling in the city. Generally, going farther away from the city centre might see you crossing into a different zone. Always read the zonal maps in the station if you are not sure. For example, going to and from Schönefeld Airport in Berlin is a different zone to travelling within the city and requires a different ticket and price. <br/>
<br/><span>Tip Four: Be punctual</span><br/><br/>
Being on time for social and business appointments is part of the German etiquette; there is no such thing as being ‘fashionably late’ here. Let your trip to Germany be a lesson in the importance of time-keeping that you can bring back to your own community.<br/>
<br/><span>Tip Five: Recycle</span><br/><br/>
Recycling plastic and glass bottles is big in Germany, and when you do, you get a small refund for the deposit (Pfand) originally paid for the bottle. Check the bottle label to see if it can be recycled; an arrow usually indicates this. All of the major supermarkets have recycling machines where you can drop of your bottles, and collect some pocket money. The refund for plastic bottles can be up to 25 cents, while glass is a little less. This can add up quickly, and some people living close to the streets make their entire livelihood in this way. If you’re really not going to recycle, then instead of throwing your bottle in a public dustbin, place it on top or next to the bin. It will be collected in a matter of minutes by someone who will be pleased to claim its worth.<br/>
</p>
<br/><br/><br/><br/><br/><br/><br/>
{% endblock %}
